@{
    ViewData["Title"] = "Error";
}

@section AdditionalPageHead
{
    <style>

    body {
        background: url(images/error.jpg) no-repeat center center fixed;
    }
</style>
}
<div class="container">
    <h1 class="text-danger text-center">Well, that didn't work.</h1>
</div>

