/* Base structure */
html, body {
    width: 100% !important;
    height: 100% !important;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #313B45;
    background-color: #fff;
} 

/* Preloader */
#preloader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#status {
    position: absolute;
    left: 47%;
    top: 50%;
    margin: auto;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: #1b1f23;
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
    animation-name: loader;
    -webkit-animation-name: loader;
    -moz-animation-name: loader;
}

    #status:before, #status:after {
        animation: 1.15s infinite ease-in-out;
        -webkit-animation: 1.15s infinite ease-in-out;
        -moz-animation: 1.15s infinite ease-in-out;
    }

    #status:before, #status:after {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

@keyframes loader {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0.5;
    }
}

@-ms-keyframes loader {
    from {
        -ms-transform: scale(0);
        opacity: 1;
    }

    to {
        -ms-transform: scale(1);
        opacity: 0.5;
    }
}

@-webkit-keyframes loader {
    from {
        -webkit-transform: scale(0);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1);
        opacity: 0.5;
    }
}

@-moz-keyframes loader {
    from {
        -moz-transform: scale(0);
        opacity: 1;
    }

    to {
        -moz-transform: scale(1);
        opacity: 0.5;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
}

p {
    margin: 0 0 25px;
    font-size: 15px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 16px;
        line-height: 1.7;
    }
}

a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

    a:hover,
    a:focus {
        text-decoration: none;
        color: #666;
    }

.no-pad {
    padding: 0;
}

.thin {
    font-weight: 300;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

section {
    position: relative;
    z-index: 992;
    padding: 140px 0 110px;
}

.section-title {
    color: #F0B746;
}

@media(max-width:768px) {
    section {
        padding: 100px 0 80px;
    }
}

.list-inline > li {
    padding-bottom: 10px;
    vertical-align: bottom;
}

.label,
input,
.btn,
textarea {
    border-radius: 0 !important;
}

.label-danger {
    background-color: #c00;
}

.btn {
    font-size: 12px !important;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: none;
    text-decoration: none;
}

.btn-border {
    border: 2px solid #fff;
    outline: 0;
    color: #fff;
    background-color: transparent;
}

    .btn-border:hover,
    .btn-border:focus {
        border: 2px solid #eee;
        outline: 0;
        color: #000 !important;
        background-color: #eee;
    }

.btn-white {
    border: 2px solid #fff;
    outline: 0;
    color: #000 !important;
    background-color: #fff;
}

.btn-dark {
    border: 2px solid #313B45;
    outline: 0;
    background-color: #313B45;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    border: 2px solid #fff;
    outline: 0;
    color: #fff !important;
    background-color: transparent;
}

.btn-dark:hover,
.btn-dark:focus {
    border: 2px solid #000;
    outline: 0;
    background-color: #000;
    color: #fff;
}

a .fa-circle {
    color: rgba(0, 0, 0, 0.35);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover .fa-circle {
    color: #555;
}

a.fa {
    text-decoration: none;
}

/* NavBar */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    background-color: #1b1f23;
}

    .navbar-custom .navbar-brand {
        font-size: 26px;
        letter-spacing: -0.02em;
        text-transform: none;
    }

    .navbar-custom.top-nav-collapse .navbar-brand {
        font-size: 18px;
    }

.logo-image {
    height:40px;
    display: inline !important;
}

.logo-text {
    display: none;
    color: #FFF;
}

.navbar-custom.top-nav-collapse .navbar-brand .logo-text {
    display: inline;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

    .navbar-custom .navbar-brand .navbar-toggle:focus,
    .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: 0;
    }

    .navbar-custom .btn-link {
        margin: 0;
        padding: 15px;
        border: 0;
        line-height: 20px;
    }

.navbar-custom a,
.navbar-custom .btn-link {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 7px;
}

.navbar-custom .nav li a {
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li .btn-link:hover {
        outline: 0;
        color: rgba(255,255,255,.8);
        background-color: transparent;
    }

    .navbar-custom .nav li a:focus,
    .navbar-custom .nav li a:active {
        outline: 0;
        background-color: transparent;
    }


.navbar-custom .nav li.active {
    outline: 0;
}

    .navbar-custom .nav li.active a,
    .navbar-custom .nav li.active .btn-link {
        color: #F0B746;
    }

        .navbar-custom .nav li.active a:hover,
        .navbar-custom .nav li.active .btn-link {
            color: #fff;
        }

@media(min-width:768px) {
    .navbar-custom {
        padding: 30px;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

        .navbar-custom.top-nav-collapse {
            padding: 10px 30px;
            background-color: #1b1f23;
        }
}

.top-nav-collapse .container {
    /* width: auto; */
}

.navbar-toggle {
    padding: 3px 5px 0;
    margin-bottom: 0;
}

/* Intro */
.intro {
    display: table;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.2);
    height: 100%;
    overflow: hidden;
}

    .intro .intro-body {
        display: table-cell;
        vertical-align: middle;
        background: rgba(0, 0, 0, 0.5);
        padding: 120px 0 50px;
        width: 100%;
    }

        .intro .intro-body .brand-heading {
            font-size: 40px;
            font-weight: 800;
            letter-spacing: -2px;
            margin: 0 0 5px;
        }

        .intro .intro-body p.intro-text {
            font-size: 15px;
            text-transform: uppercase;
            margin: 0 0 40px;
            letter-spacing: 1px;
        }

    .intro h1 {
        font-size: 60px;
        font-weight: 800;
        line-height: 80px;
        padding: 30px 0;
    }

@keyframes kenburns {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@media(min-width:768px) {
    .intro {
        padding: 0;
    }

        .intro .intro-body .brand-heading {
            font-size: 46px;
        }
}

@media(max-width:1400px) {
    .intro .intro-body {
        padding: 80px 0;
    }
}

@media(max-width:768px) {
    .intro .intro-body {
        padding: 60px 0;
    }

    .intro h1 {
        font-size: 48px;
        line-height: 48px;
    }
}

@media (max-width: 480px) {
    .intro h1 {
        font-size: 30px;
        line-height: 40px;
    }
}

/* VIDEO BACKGROUND */
.video-controls {
    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 1;
    opacity: .2;
    display: none;
}

.video-controls-visible {
    display: inline;
}

.video-controls .fa {
    color: #fff;
    padding: 5px;
    width: 25px;
}

.no-video-bg {
    background: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: 0;
    backface-visibility: hidden
}

/* Subscribe form */
.subscribe-form .form-control {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-right: 15px;
}

.help-block li {
    list-style: none;
    color: #990000;
}

.help-block ul {
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .subscribe-form .input-group {
        width: 480px;
    }
}

.icon-logo {
    color: #fff;
    padding-right: 10px;
}

/* Mission */
.mission {
    background-color: #1b1f23;
}

.mission,
.mission a {
    color: #fff;
}

    .mission a:hover {
        color: #888;
    }

/* Contribute */
#contribute {
    background: rgba(0, 0, 0, 0.8);
}
    #contribute,
    #contribute a,
    #contribute a:hover {
        color: #fff;
    }

/* About */
#about {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
}

/* Features */
#features {
    background: #efefef;
}

/* Approach */
#approach {
    background: #fff;
}

    #approach .icon {
        font-size: 80px;
        display: block;
        padding-bottom: 15px;
    }

/* Countdown */
#clock {
    padding-bottom: 20px;
}

    #clock div {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        margin: 0 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 60px;
    }

    #clock span {
        display: block;
        font-size: 72px;
        font-weight: 100;
        padding: 30px 0;
        border-bottom: 1px solid #fff;
    }

@media (max-width: 1170px) {
    #clock div {
        font-size: 14px;
        margin: 0 15px;
    }

    #clock span {
        font-size: 48px;
        padding: 18px 0;
    }
}

@media (max-width: 768px) {
    #clock div {
        font-size: 14px;
        margin: 0 15px;
    }

    #clock span {
        font-size: 42px;
        padding: 15px 0;
    }
}

@media (max-width: 468px) {
    #clock div {
        font-size: 11px;
        margin: 0 7px;
    }

    #clock span {
        font-size: 32px;
        padding: 5px 0;
    }
}

/* Team */
#team {
    background: #fff;
}

    #team h2 {
        margin-bottom: 55px;
    }

    #team h4 {
        margin-bottom: 20px;
    }

    #team p {
        margin-bottom: 10px;
    }

    #team h2 {
        margin-bottom: 55px;
    }

/* Footer */
#footer {
    width: 100%;
}

    #footer,
    #footer a,
    #footer a:hover {
        color: #fff;
    }

.icon-footer {
    font-size: 2.0em;
}

@media(max-width: 998px) {
    #contact {
        text-align: center;
    }
}

/* Demo */
body.demo {
    background-color: #fff;
    background: none;
    font-size: 16px;
    line-height: 1.8;
}

section.demosection {
    padding-top: 70px;
    padding-bottom: 50px;
    background: #1b1f23;
    color: #fff;
}

    section.demosection a {
        color: #fff;
    }

.demo h3 {
    margin: 30px 0;
    font-weight: 300;
}

.demo ul {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    section.demosection {
        text-align: center;
        padding-bottom: 50px;
    }
}

/* Stop animate in small dev */
@media screen and (max-width: 800px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }
}
