@{
    ViewData["Title"] = "Home Page";
}

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top wow fadeIn" data-wow-duration="3s" data-wow-delay=".2s" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <a class="navbar-brand page-scroll wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.4s" href="#page-top">
                <span class="logo">Brew Free</span> <i class="fa fa-star"></i>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#page-top">HOME</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">WHO WE ARE</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">OUR SERVICES</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">TEAM</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <img src="img/logo.png" alt="" class="wow fadeIn" data-wow-duration="4s" data-wow-delay=".4s">
        <div id="clock" class="wow fadeIn" data-wow-duration="6s" data-wow-delay=".6s"></div>
        <p class="intro-text wow fadeIn" data-wow-duration="7s" data-wow-delay=".7s">WE ARE COMING SOON. STAY TUNED!</p>
        <ul class="list-inline lead">
            <li><a href="#about" class="btn btn-border btn-lg page-scroll wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s"><i class="fa fa-chevron-down"></i> WHO WE ARE</a></li>
            <li><a href="#contact" class="btn btn-white btn-lg page-scroll wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.4s"><i class="fa fa-chevron-down"></i> CONTACT US</a></li>
        </ul>
    </div>
</header>

<!-- Action2 Section -->
<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>DESIGNER/CODER FRIENDLY</h2>
            <p>Designed for Everyone. CSOON will look fabulous on all devices and easily and efficiently scales your project with one code base, from phones to tablets to desktops.</p>
            <ul class="list-inline lead">
                <li><a href="/"><i class="fa fa-apple fa-fw fa-2x"></i></a></li>
                <li><a href="/"><i class="fa fa-windows fa-fw fa-2x"></i></a></li>
                <li><a href="/"><i class="fa fa-android fa-fw fa-2x"></i></a></li>
                <li><a href="https://wrapbootstrap.com/theme/csoon-startup-and-coming-soon-theme-WB04J5003" target="_blank" class="btn btn-white btn-lg">Get it Now!</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>WHO WE ARE</h2>
            <p>The collaborative process of web development requires close integration of technology and design - two disciplines that inform one another. We make hip and exciting web sites. Big and Small. Concept development, interaction design, interface design, production management, strategic planning, usability testing.</p>
        </div>
    </div>
</section>

<!-- About2 Section -->
<section id="about2" class="container-fluid text-center wow fadeIn">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <h4><i class="icon icon-heading ion-ios-infinite-outline" data-wow-duration="7s" data-wow-delay=".7s"></i> LIFETIME UPDATES</h4>
                <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor.</p>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <h4><i class="icon ion-ios-stopwatch-outline"></i> LIGHTWEIGHT</h4>
                <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor.</p>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <h4><i class="icon icon-heading ion-ios-monitor-outline"></i> RESPONSIVE</h4>
                <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor.</p>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                <h4><i class="icon icon-heading ion-ios-settings"></i> MULTI-PURPOSE</h4>
                <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam, a accumsan justo laoreeta accumsan justo laoreet. Lorem ipsum dolor.</p>
            </div>
        </div>
    </div>
</section>

<!-- Action2 Section MailChimp Signup Form -->
<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>Get notified!</h2>
            <p>
                MailChimp Signup Form. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum.
            </p>
            <!-- MailChimp Signup Form -->
            <!-- Replace the form action in the line below with your MailChimp embed action! For more information on how to do this please visit the Docs! -->
            <form role="form" action="http://forbetterweb.us11.list-manage.com/subscribe/post?u=4f751a6c58b225179404715f0&amp;id=18fc72763a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline subscribe-form" target="_blank" novalidate="">
                <div class="input-group input-group-lg">
                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                    <span class="input-group-btn">
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white">Get notified!</button>
                    </span>
                </div>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
            <!-- End MailChimp Signup Form -->
        </div>
    </div>
</section>
<!-- Services Section -->
<section id="services" class="container-fluid text-center wow fadeIn">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Services</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <h4><i class="icon icon-heading ion-ios-star-outline"></i> Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus placerat eros</p>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <h4><i class="icon icon-heading ion-ios-cloud-download-outline"></i> Suspendisse risu</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus placerat eros</p>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <h4><i class="icon icon-heading ion-ios-pie-outline"></i> Nullam ultrices</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus placerat eros</p>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                <h4><i class="icon icon-heading ion-ios-camera-outline"></i> Sed porttitor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus placerat eros</p>
            </div>
        </div>
    </div>
</section>
<!-- Action2 Section -->
<section class="action3 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>CSOON IS THE PERFECT THEME FOR YOUR NEXT PROJECT!</h2>
            <p>It’s time to grow your business. Go make something awesome.</p>
            <p><a href="https://wrapbootstrap.com/theme/csoon-startup-and-coming-soon-theme-WB04J5003" target="_blank" class="btn btn-white btn-lg">Get it Now!</a></p>
        </div>
    </div>
</section>
<!-- Team Section -->
<section id="team" class="container-fluid text-center wow fadeIn">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <h2>Our Team</h2>
            <div class="col-lg-3 col-md-6">
                <h4>Rick Grimes</h4>
                <p><img src="img/avatar1.jpg" class="img-responsive center-block" alt=""></p>
                <ul class="list-inline">
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-behance fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-steam fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="mailto:"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <h5>CEO</h5>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Glenn Rhee</h4>
                <p><img src="img/avatar2.jpg" class="img-responsive center-block" alt=""></p>
                <ul class="list-inline">
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-skype fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="mailto:"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-dribbble fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <h5>Manager</h5>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Daryl Dixon</h4>
                <p><img src="img/avatar3.jpg" class="img-responsive center-block" alt=""></p>
                <ul class="list-inline">
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-tumblr fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="mailto:"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <h5>Developer</h5>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Andrea Harrison</h4>
                <p><img src="img/avatar4.jpg" class="img-responsive center-block" alt=""></p>
                <ul class="list-inline">
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-behance fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                    <li><a href="mailto:"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
                <h5>Designer</h5>
            </div>
        </div>
    </div>
</section>

<!-- sponsors -->
<div id="sponsor" class="wow fadeIn">
    <div class="container-fluid">
        <div class="row sponsor text-center">
            <div class="col-md-2 gray col-md-offset-1">
                <a href="/"><img src="img/logo4.png" alt=""></a>
            </div>
            <div class="col-md-2 gray">
                <a href="/"><img src="img/logo2.png" alt=""></a>
            </div>
            <div class="col-md-2 gray">
                <a href="/"><img src="img/logo3.png" alt=""></a>
            </div>
            <div class="col-md-2 gray">
                <a href="/"><img src="img/logo1.png" alt=""></a>
            </div>
            <div class="col-md-2 gray">
                <a href="/"><img src="img/logo5.png" alt=""></a>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section -->
<section id="contact">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-5">
                <h2>contact us</h2>
                <p>
                    Feel free to contact us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum.
                </p>
                <h2><i class="icon ion-android-call"></i> (123) 456-7890</h2>
                <h4>
                    <i class="icon ion-android-mail"></i> info@youwebsite.com<br>
                    <i class="icon ion-ios-location"></i> 2345 Some Ave, New York, NY 23458
                </h4>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <h2>Say hello</h2>
                <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage" id="contactForm" novalidate="">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="name" class="sr-only control-label">You Name</label>
                            <input type="text" class="form-control input-lg" placeholder="You Name" id="name" required="" data-validation-required-message="Please enter name">
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="email" class="sr-only control-label">You Email</label>
                            <input type="email" class="form-control input-lg" placeholder="You Email" id="email" required="" data-validation-required-message="Please enter email">
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="phone" class="sr-only control-label">You Phone</label>
                            <input type="tel" class="form-control input-lg" placeholder="You Phone" id="phone" required="" data-validation-required-message="Please enter phone number">
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label for="message" class="sr-only control-label">Message</label>
                            <textarea rows="2" class="form-control input-lg" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-dark btn-lg">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="contact2" class="container-fluid text-center wow fadeIn">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-3">
            <i class="fa fa-star fa-2x"></i>
        </div>
        <div class="col-md-6">
            <p>&copy; YOUR WEBSITE 2015</p>
        </div>
        <div class="col-md-3">
            <ul class="list-inline">
                <li><a href="/"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
                <li><a href="/"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
                <li><a href="/"><i class="fa fa-instagram fa-fw fa-2x"></i></a></li>
                <li><a href="/"><i class="fa fa-envelope fa-fw fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</section>

@section Scripts {
    
    <environment names="Development">
        
        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery.easing/jquery.easing.js"></script>
        <script src="~/lib/jquery.countdown/dist/jquery.countdown.js"></script>
        <script src="~/lib/device.js/device.js"></script>
        <script src="~/lib/wow/dist/wow.js"></script>
        <script src="~/lib/smoothscroll-for-websites/SmoothScroll.js"></script>
        <script src="~/lib/jquery-placeholder/jquery.placeholder.js"></script>

        <!-- Background Slider -->
        <script src="~/lib/vegas/dist/vegas.js"></script>
        
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        
        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
        <script src="~/lib/jquery.countdown/dist/jquery.countdown.min.js"></script>
        <script src="~/lib/device.js/device.js"></script>
        <script src="~/lib/wow/dist/wow.min.js"></script>
        <script src="~/lib/smoothscroll-for-websites/SmoothScroll.js"></script>
        <script src="~/lib/jquery-placeholder/jquery.placeholder.js"></script>

        <!-- Background Slider -->
        <script src="~/lib/vegas/dist/vegas.min.js"></script>
        
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

}