@{
    ViewData["Title"] = "Home Page";
}

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top wow fadeIn" data-wow-duration="3s" data-wow-delay=".2s" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <a class="navbar-brand page-scroll wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.4s" href="#page-top">
                <i class="icon icon-logo ion-ios-pint"></i><span class="logo">BREW FREE</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#page-top">HOME</a>
                </li>
                <li>
                    <a class="page-scroll" href="#mission">MISSION</a>
                </li>
                <li>
                    <a class="page-scroll" href="#approach">APPROACH</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">FEATURES</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contribute">CONTRIBUTE</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">TEAM</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro -->
<header class="intro">
    <div class="intro-body">
        <div id="clock" class="wow fadeIn" data-wow-duration="6s" data-wow-delay=".6s"></div>
        <p class="intro-text wow fadeIn" data-wow-duration="7s" data-wow-delay=".7s">COMING FALL 2017.  IN THE MEANTIME, KEEP BREWING.</p>
        <ul class="list-inline lead">
            <li><a href="#mission" class="btn btn-border btn-lg page-scroll wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s"><i class="fa fa-chevron-down"></i> MISSION</a></li>
            <li><a href="#contribute" class="btn btn-white btn-lg page-scroll wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.4s"><i class="fa fa-chevron-down"></i> CONTRIBUTE</a></li>
        </ul>
    </div>
</header>

<!-- Mission -->
<section id="mission" class="mission container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2 class="section-title">MISSION</h2>
            <h3>ENABLE EVERY HOME BREWER ON THE PLANET TO BREW BETTER.</h3>
            <p>Open-source cloud-based home brewing software developed and supported by a community that enables the free exchange of home brewing tools and knowledge.</p>
        </div>
    </div>
</section>

<!-- Approach -->
<section id="approach" class="container-fluid text-center wow fadeIn">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-title">Approach</h2>
                <p>Build from the knowledge of those that led the way, but do it differently.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <h4><i class="icon icon-heading ion-ios-people-outline"></i> Community-First</h4>
                <p>Donate time and share knowledge to help others increase their home brewing skills.  Not-for-profit, yet sustainable.</p>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <h4><i class="icon icon-heading ion-ios-book-outline"></i> Open</h4>
                <p>Open source home brewing tools and encourage community contribution.  Extensible so that other tools can build on them.</p>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <h4><i class="icon icon-heading ion-ios-cloud-outline"></i> Modern</h4>
                <p>Cloud-first, responsive design for any connected device.  Designed to help home brewers of any level to brew better.</p>
            </div>
        </div>
    </div>
</section>

<!-- Who we are -->
<section id="about" class="container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-title">WHO WE ARE</h2>
            <p>We are software developers and home brewers who are just as passionate about brewing as we are about coding.  We also like to tinker and build and customize things.  Sometimes we just take things apart to see how they work.</p>
        </div>
    </div>
</section>

<!-- Features-->
<section id="features" class="container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-title">PLANNED FEATURES</h2>
            <p>We are still working on the product road map/release plan, but here are some of the features being kicked around.<br/>Got other ideas? <a href="mailto:support@BrewFree.org">Contact us</a> with suggestions!</p>
            <div class="col-lg-6 col-md-6">
                <h4 class="text-muted">MUST HAVES</h4>
                <ul class="text-left">
                    <li>Login with social media account</li>
                    <li>Support multiple languages</li>
                    <li>Responsive design</li>
                    <li>Create basic brews (AKA recipes)</li>
                    <li>Brew gallery to exchange recipes</li>
                    <li>Brewer profile (e.g. name, country, avatar, privacy)</li>
                    <li>REST API for developer extensibility</li>
                    <li>Export/Import basic brew to beer.XML</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <h4 class="text-muted">SHOULD HAVES</h4>
                <ul class="text-left">
                    <li>Enhanced brew with ABV, SRM, IBU adjustments</li>
                    <li>Featured picture of your brew for the gallery</li>
                    <li>Multiple brew sessions for a single brew</li>
                    <li>Brew log for readings and observations with pictures</li>
                    <li>Brewer achievement badges (e.g. number of brews, contributions)</li>
                    <li>Integration with Untapped to add your brew</li>
                    <li>Project gallery where you can share what you've built or customized</li>
                    <li>BJCP beer style gallery</li>
                    <li>Reminders so you can be reminded to do things like bottling day</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Contribute -->
<section id="contribute" class="container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-title">CONTRIBUTE</h2>
            <p>
                It feels good to give back!  Here's how you can help:
            </p>
            <div class="col-lg-4 col-md-4">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=support%40brewfree%2eorg&lc=US&item_name=Brew%20Free&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" title="Donate"><i class="fa fa-paypal fa-fw fa-2x"></i> Donate</a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="https://github.com/brewfree/software" target="_blank" title="Develop"><i class="fa fa-github fa-fw fa-2x"></i> Develop</a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="mailto:support@brewfree.org?subject=Beta%20Test" target="_blank" title="Beta Test"><i class="fa fa-bug fa-fw fa-2x"></i> Beta Test</a>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="container-fluid text-center wow fadeIn">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <h2 class="section-title">Team</h2>
            <div class="col-lg-6 col-md-6">
                <h4>John Powell</h4>
                <p><img src="images/john.jpg" class="img-responsive center-block" alt=""></p>
                <h5>Product Manager/Lead Developer</h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <h4>Tyler Powell</h4>
                <p><img src="images/tyler.jpg" class="img-responsive center-block" alt=""></p>
                <h5>Developer</h5>
            </div>
        </div>
    </div>
</section>

<section id="footer" class="container-fluid text-center wow fadeIn">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-3">
            <i class="icon icon-footer ion-ios-pint"></i>
        </div>
        <div class="col-md-6">
            <p><i class="icon ion-android-mail"></i> <a href="mailto:support@brewfree.org">support@brewfree.org</a><br />
            &copy; BREW FREE @DateTime.Today.Year.ToString()</p>
        </div>
        <div class="col-md-3">
            <ul class="list-inline">
                <li><a href="https://github.com/brewfree/software" target="_blank" title="Github"><i class="fa fa-github fa-fw fa-2x"></i></a></li>
                <li><a href="https://twitter.com/brewfree_org" target="_blank" title="Twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
                <li><a href="https://www.facebook.com/brewfree/" target="_blank" title="Facebook"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
                <li><a href="https://www.instagram.com/brewfree_org/" target="_blank" title="Instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></a></li>
                <li><a href="mailto:support@brewfree.org" title="Email"><i class="fa fa-envelope fa-fw fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</section>

@section Scripts {
    
    <environment names="Development,Staging,Production">
        
        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery.easing/jquery.easing.js"></script>
        <script src="~/lib/jquery.countdown/dist/jquery.countdown.js"></script>
        <script src="~/lib/device.js/device.js"></script>
        <script src="~/lib/wow/dist/wow.js"></script>
        <script src="~/lib/smoothscroll-for-websites/SmoothScroll.js"></script>
        <script src="~/lib/jquery-placeholder/jquery.placeholder.js"></script>

        <!-- Background Slider -->
        <script src="~/lib/vegas/dist/vegas.js"></script>
        
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment names="None">
        
        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
        <script src="~/lib/jquery.countdown/dist/jquery.countdown.min.js"></script>
        <script src="~/lib/device.js/device.js"></script>
        <script src="~/lib/wow/dist/wow.min.js"></script>
        <script src="~/lib/smoothscroll-for-websites/SmoothScroll.js"></script>
        <script src="~/lib/jquery-placeholder/jquery.placeholder.js"></script>

        <!-- Background Slider -->
        <script src="~/lib/vegas/dist/vegas.min.js"></script>
        
        <script src="~/js/home.min.js" asp-append-version="true"></script>
    </environment>

}